.m1-form ::-webkit-input-placeholder {
 color: #999;
}

.m1-form ::-moz-placeholder {
 color: #999;
}

.m1-form :-moz-placeholder {
 color: #999;
}

.m1-form :-ms-input-placeholder {
 color: #999;
}

.m1-form :focus::-webkit-input-placeholder {
 color: transparent;
}

.m1-form :focus::-moz-placeholder {
 color: transparent;
}

.m1-form :focus:-moz-placeholder {
 color: transparent;
}

.m1-form :focus:-ms-input-placeholder {
 color: transparent;
}

.hidden {
 display: none;
}

.center {
 text-align: center;
}

.just {
 text-align: justify;
 -moz-text-align-last: center;
 text-align-last: center;
}

.clrfix:after {
 content: '';
 display: block;
 clear: both;
}

.clear {
 clear: both;
 height: 0;
}

.ulfix {
 font-size: 0;
}

h1, h2, h3, h4, h5, h6 {
 font-weight: 700;
}

b, strong {
 font-weight: 700;
}

body {
 width: 100%;
 min-width: 320px;
 padding: 0;
 margin: 0 auto;
 font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
 font-weight: 400;
 font-size: 18px;
 line-height: 24px;
 color: #262626;
 background: #f8f8f8;
}

section {
 width: 100%;
 padding: 35px 0;
}

.wrap {
 position: relative;
 width: 480px;
 height: 100%;
 padding: 0;
 margin: 0 auto;
 background: #fff;
}

.wrap:after {
 clear: both;
 content: "";
 display: table;
}

.nopad {
 padding: 0;
}

.m1-form {
 padding-top: 17px;
}

.m1-form input.field {
 position: relative;
 display: block;
 outline: 0;
 background: #fafafa;
 width: 100%;
 height: 62px;
 line-height: 60px;
 margin: 0 auto 17px;
 padding: 0 20px;
 font-size: 20px;
 font-weight: 400;
 color: #222;
 text-align: center;
 border: 1px solid #ebebeb;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 -webkit-transition: all 0.2s;
 -moz-transition: all 0.2s;
 -o-transition: all 0.2s;
 -ms-transition: all 0.2s;
 transition: all 0.2s;
}

.button-m {
 position: relative;
 display: block;
 width: 100%;
 height: 38px;
 line-height: 38px;
 margin: 0 auto;
 border: none;
 text-align: center;
 font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
 font-size: 16px;
 font-weight: 700;
 text-decoration: none;
 cursor: pointer;
 color: #fff;
 background: #4267b2;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 -webkit-transition: all 0.2s;
 -moz-transition: all 0.2s;
 -o-transition: all 0.2s;
 -ms-transition: all 0.2s;
 transition: all 0.2s;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
}

.button-m.big {
 height: 64px;
 line-height: 64px;
 font-size: 24px;
}

/*   price   */

.price {
 font-size: 0;
 background: url("../img/price-bg.png") 50% 50% no-repeat;
}

.price .item {
 display: inline-block;
 vertical-align: top;
 width: 50%;
 font-size: 16px;
}

.price p {
 color: #999;
 padding-bottom: 3px;
}

.price .value {
 font-size: 30px;
 color: #262626;
}

.price .value i {
 font-style: normal;
 font-size: 24px;
}

.price .item:nth-child(1) .value span {
 text-decoration: line-through;
}

.price .item:nth-child(2) .value {
 color: #3897f0;
 font-weight: 700;
}

/* video */

.video-container {
 margin: -1px auto 0;
 width: 480px;
 height: 270px;
 background-color: #000;
 overflow: hidden;
 position: relative;
}

.video-container iframe,
.video-container object,
.video-container embed {
 display: block;
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 left: 0;
}

/*   slider   */

.slider .item {
 position: relative;
}

.slider .item img {
 display: block;
}

.slider .item .txt {
 position: absolute;
 left: 25px;
 top: 25px;
}

.slider .item p {
 display: inline-block;
 background: rgba(206, 63, 129, 0.71);
 color: #fff;
 font-size: 20px;
 font-weight: 700;
 line-height: 28px;
 text-transform: uppercase;
 padding: 2px 5px;
}

.slider .slick-prev,
.slider .slick-next {
 font-size: 0;
 line-height: 0;
 position: absolute;
 top: 50%;
 margin-top: -15px;
 display: block;
 width: 30px;
 height: 30px;
 padding: 0;
 cursor: pointer;
 color: transparent;
 border: none;
 outline: none;
 background: url("../img/arrow-slider.png") 0 0 no-repeat;
 z-index: 3;
}

.slider .slick-prev {
 left: 20px;
 -moz-transform: rotate(180deg);
 -webkit-transform: rotate(180deg);
 -o-transform: rotate(180deg);
 -ms-transform: rotate(180deg);
 transform: rotate(180deg);
}

.slider .slick-next {
 right: 20px;
}

.slider .slick-dots {
 position: absolute;
 left: 0;
 bottom: -34px;
 width: 100%;
 text-align: center;
}

.slider .slick-dots button {
 display: none;
}

.slider .slick-dots li {
 display: inline-block;
 width: 8px;
 height: 8px;
 margin: 0 4px;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 border-radius: 50%;
 background: #999;
}

.slider .slick-dots li.slick-active {
 border: 0;
 background: #3897f0;
}

/*   timer block   */

.timer_block {
 margin: 0 0 15px;
 text-align: center;
}

.timer_block h4 {
 margin: 0 0 15px;
 font-size: 20px;
 font-weight: 400;
}

.timer_block .timer {
 padding: 15px 0;
 border: 1px solid #ebebeb;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 background: #fafafa;
}

.timer_block .timer_item {
 float: left;
 width: 33.33%;
 position: relative;
}

.timer_block .timer_item:before {
 display: block;
 content: ':';
 width: 10px;
 font-weight: 700;
 font-size: 40px;
 line-height: 40px;
 color: #999;
 position: absolute;
 top: 10px;
 right: -5px;
}

.timer_block .timer_item:last-child:before {
 display: none;
}

.timer_block .count {
 font-weight: 700;
 font-size: 52px;
 line-height: 52px;
 color: #4267b2;
}

.timer_block .text {
 margin-top: -3px;
 font-size: 18px;
 line-height: 18px;
 color: #999;
}