
.date-off{
	color: #66676b;
	font-weight: 500;
	font-size: 14px;
}
.date-off:after{
	content: ' ';
	display: block;
	float: right;
	background: url(../img/d-gp.png) no-repeat;
	width: 12px;
	height: 12px;
	margin: 3px 18px 0px 0px;
}
.d-dp:after{
	content: ' ';
	display: block;
	float: right;
	background: url(../img/d-gp1.png) no-repeat !important;
	width: 12px;
	height: 12px;
	margin: 3px 18px 0px 0px;
}
.line-fb{
	margin: 10px 15px;
	border-top: 1px solid #CED0D4;
}
.post-ic{
	width: 480px;
	height: 25px;
	padding: 0px 15px;
	position: relative;
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-ic span{
	display: block;
	color: #66676b;
	font-weight: 500;
	font-size: 15px;
}
.post-ic span:nth-child(1):before{
	content: ' ';
	display: block;
	float: left;
	background: url(../img/like.png) no-repeat;
	width: 22px;
	height: 20px;
	margin: 0 5px 0 0;
}
.post-ic span:nth-child(2):before{
	content: ' ';
	display: block;
	float: left;
	background: url(../img/comm.png) no-repeat;
	width: 20px;
	height: 19px;
	margin: 3px 5px 0 0;
}
.post-ic span:nth-child(3):before{
	content: ' ';
	display: block;
	float: left;
	background: url(../img/share.png) no-repeat;
	width: 18px;
	height: 18px;
	margin: 2px 5px 0 0;
}
.smile-block{
	margin: 17px 15px 0px 15px;
	font-size: 14px;
	color: #707071;
}
.smile-block div{
	float: right;
}
.smile3{
	display: block;
	background: url(../img/smile-3.png) no-repeat;
	height: 22px;
	width: 55px;
	float: left;
	margin-right: 8px;
}
.smile2{
	display: block;
	background: url(../img/smile-2.png) no-repeat;
	height: 22px;
	width: 37px;
	float: left;
	margin-right: 8px;
}
.smile2-1{
	display: block;
	background: url(../img/smile-2-1.png) no-repeat;
	height: 22px;
	width: 37px;
	float: left;
	margin-right: 8px;
}
.smile2-2{
	display: block;
	background: url(../img/smile-2-2.png) no-repeat;
	height: 22px;
	width: 37px;
	float: left;
	margin-right: 8px;
}
.smile1{
	display: block;
	background: url(../img/smile-1.png) no-repeat;
	height: 20px;
	width: 20px;
	float: left;
	margin-right: 8px;
}
.smile1-1{
	display: block;
	background: url(../img/smile-1-1.png) no-repeat;
	height: 20px;
	width: 20px;
	float: left;
	margin-right: 8px;
}
.desc-comm{
	padding: 0px 20px 20px;
}
.info-comm{
	background: url(../img/arrow-post.png) 98% 50% no-repeat !important;
}


.offer {
 padding: 30px 20px 0;
}

.offer:before {
 position: absolute;
 left: 0;
 top: 0;
 display: block;
 width: 100%;
 height: 10px;
 margin-bottom: 20px;
 background: #3b5998;
 content: '';
}

.offer h1 {
 font-size: 28px;
 line-height: 30px;
 padding-bottom: 10px;
}

.offer .logo {
 float: left;
 display: block;
 width: 120px;
 border: 1px solid #e6e6e6;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 border-radius: 50%;
}

.offer .info {
 clear: both;
 padding-top: 20px;
}

.offer a.button-m {
 font-size: 18px;
}

.offer .price {
 margin-left: 170px;
 padding-top: 10px;
 background-position: 50% 30px;
}

.offer .price .item:nth-child(2) {
 padding-left: 20px;
}

.offer .price a.button-m {
 margin-top: 10px;
}

.offer .bullet li {
 padding-bottom: 6px;
}

.offer .bullet li:last-child {
 padding-bottom: 0;
}

.verified:after {
 position: relative;
 top: -1px;
 display: inline-block;
 vertical-align: middle;
 width: 18px;
 height: 18px;
 background: url("../img/verified.png") 0 0 no-repeat;
 margin-left: 10px;
 content: '';
}

/*   post   */

.post {
 padding: 25px 0 15px 0;
 border-bottom: 10px solid #DADDE1;
}

.post .info {
 margin: 0 20px 20px;
 background: url("../img/share-icon.png") 98% 50% no-repeat;
}

.post .info:after {
 display: block;
 clear: both;
 content: '';
}

.post .info img {
 float: left;
 width: 38px;
 border: 1px solid #e6e6e6;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 border-radius: 50%;
}

.post .info .login {
 float: left;
 height: 38px;
 line-height: 20px;
 font-size: 18px;
 font-weight: 700;
 padding-left: 12px;
}


.post .info a.button-m {
 float: right;
 width: 160px;
}

.post h2 {
 font-size: 20px;
 padding: 0 20px 15px;
}

.post h2 span {
 display: block;
}

.post img.im {
 display: block;
 margin: 0 auto;
}

.post .desc {
 padding: 0px 20px 0;
}

.post .desc p {
 padding-bottom: 15px;
}

.post .desc p b {
 font-size: 20px;
}

.post .like {
 font-size: 20px;
 font-weight: 700;
 padding-bottom: 5px;
}

.post .date {
 color: #999;
 font-size: 15px;
 margin-top: -5px;
}

.post .list-v1 {
 padding-bottom: 5px;
}

.list-v1 li {
 padding-bottom: 10px;
}

/*   order form   */

.order_form {
 padding-top: 20px;
}

.order_form .head {
 padding: 0 20px 20px;
}

.order_form .head img {
 float: left;
 width: 38px;
 border: 1px solid #e6e6e6;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 border-radius: 50%;
}

.order_form .head .login {
 float: left;
 height: 38px;
 line-height: 38px;
 font-size: 20px;
 font-weight: 700;
 padding-left: 12px;
}

.order_form .head h3 {
 float: right;
 height: 38px;
 line-height: 38px;
 font-size: 20px;
 font-weight: 700;
}

.order_form .head:after {
 display: block;
 clear: both;
 content: '';
}

.order_form .box {
 margin: 0 20px;
 padding: 20px 30px 30px;
 border: 1px solid #ebebeb;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
}

.order_form .item {
 text-align: center;
}

.order_form .order_form .price p {
 font-size: 18px;
}

.order_form .price .value {
 font-size: 42px;
 line-height: 42px;
}

.order_form .price .value i {
 font-size: 32px;
}

.stock {
 text-align: center;
 color: #999;
 font-size: 16px;
 padding-top: 20px;
 line-height: 20px;
}

.stock i {
 font-style: normal;
 color: #376189;
}

.stock span {
 display: block;
}

/*   footer   */

.footer {
 text-align: center;
 padding: 20px 0 25px;
 background: #f8f8f8;
 border-top: 1px solid #ebebeb;
}

.footer img {
 display: block;
 margin: 0 auto 15px;
}

.footer p {
 text-align: center;
}

.footer a {
 display: inline-block;
 font-size: 15px;
 color: #333;
 margin: 0 15px;
}

.footer a:hover {
 text-decoration: none;
}




